.main{
  padding-top:65px;
  background:#F5F5F7;

}
.main h1{
 margin-left:10rem;

}
.flexing{
  display:flex;
  gap:25px;
  padding:12px;
padding-left:10rem;

  margin-top:2em;
  overflow: scroll;
}
::-webkit-scrollbar{
  display: none;
}
.box{
  text-align: center;
  padding-top:25px;
  cursor: pointer;
}
.Link{
  color:#111;
  text-decoration: none;

}