.main{
  width:100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  font-size:35px;
  background:rgb(225, 218, 218);
 
}
