.main {
  padding-top: 85px;
  padding-bottom: 85px;
}
.border {
  width: 90%;
  margin: auto;
  position: relative;
  
}
.border img {
  width: 100%;
  border-radius: 35px;
}
.text {
  position: absolute;
  top: 5em;
  left: 3em;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}

.text h1:first-child {
  font-size: 1.5rem;
}
.text button {
  font-size: 1rem;
  background: #fff;
  color: #111;
  border-radius: 15px;
  padding: 10px;
}

